.classpath
.project
.metadata/
.recommenders/
.externalToolBuilders/
.settings
*.log


# Temporary files created by sublime-text
*~

Titan.jar

data/cache.yml
modules/*
cache/*
bin/*
config/*.yml
crash/
players/
doc/
*.class
/bin/
