.classpath
.project
.metadata/
.recommenders/
.externalToolBuilders/
.settings
*.log
/build.num
*titan-modules/
*titan-client/
.idea/
*.iml

# Temporary files created by sublime-text
*~
*.sh

Titan.jar

data/cache.yml
modules/*
cache/*
bin/*
config/world.yml
config/logon.yml
crash/
players/
doc/
*.class
/bin/
maps/
