world:
    country: 38
    ip: "127.0.0.1"
    region: "Region"
    activity: "Titan"
    flags: 1
    port: 43594

database:
    #can be SQLite or MySQL
    type: mysql
    #Used for SQLite
    file: sql\world.db 
    host: localhost
    user: titan
    pass: pass
    database: titan
    port: 3306

# How frequently should we save players? Lower values mean less of a rollback, but too low values will crash a server that can't keep up with the number of players online
# Time is in milliseconds. Higher values mean less lag, but if there's a crash the rollback will be longer.
autosave-interval: 10000

# Aliases for commands. Key is command, alias is value
commands:
    # ::Die can be called by using ::Kill
    kill: die
    # ::Instance can be called by using ::NewMap
    newmap: instance
    where: position
    rights: rank

# Time in milliseconds between sending "update masks" to players. Lower values will make the
# server seem to respond faster (Eg when starting movement), but will require more bandwidth
# and processing time. Higher values will make the server seem slower to respond, but will
# chew less bandwidth and processing time. This is 600ms on most servers, but enables us to
# seem as if our server is much faster than it actually is.
update-interval: 120

formula:
   # Variables allowed are:
   # skill_level - the skill for this category. Eg if you are doing the melee category, you will get ATK/STR/DEF appropriately, or the magic category you will get MAGIC levels.
   # skill_level_* - Where * is a skill in lowercase. Eg magic, defence, strength, constitution, herblore, fishing
   #  - All skill levels include current modifier.
   # equip_bonus - The equipment stat bonus for this case. This is the same as Mob.getEquipment().getBonus(Bonus.*_*). The bonus type will be the appropriate one to the mob's attack or defence
   #  - Eg, magic.defence will be the value for Bonus.DEF_MAGIC, melee.power will be Bonus.POW_STRENGTH, range.hit will be Bonus.ATK_RANGE and melee.hit will be the bonus used for the current attack style (Bonus.ATK_STAB/SLASH/CRUSH appropriately)
   # prayer_multiplier will be the increase/decrease from active prayers. This will be 1.0 by default. A value of 1.0 represents no prayers active. This is supplied for NPC's too.
   # prayer_multiplier_* - Where * is a skill in lowercase. Eg prayer_multiplier_herblore or prayer_multiplier_defence 
   melee:
       hit: skill_level_attack * prayer_multiplier_attack + equip_bonus + 14
       power: skill_level_strength * prayer_multiplier_strength * 1.5 + equip_bonus * 1.5 + 14
       defence: skill_level_defence * prayer_multiplier_defence + equip_bonus + 14
   range:
       hit: skill_level_range * prayer_multiplier_range + equip_bonus + 14
       power: skill_level_range * prayer_multiplier_range * 1.5 + equip_bonus * 1.5 + 14
       defence: skill_level_defence * prayer_multiplier_defence + equip_bonus + 14
   magic:
       hit: skill_level_magic * prayer_multiplier_magic + equip_bonus + 14
       #There is no "magic power", that is calculated based on spell max hit.
       defence: skill_level_magic * prayer_multiplier_magic + skill_level_defence * prayer_multiplier_defence + equip_bonus + 14
      

loading:
    #Lazy loading means that we only load data as we need it.
    #This is much less efficient, and may cause lag when players
    #begin joining and moving around, but means startup times are
    #much smaller.
    lazy: true

log:
    #Levels are {DEBUG, INFO, WARNING, SEVERE}
    level: DEBUG
    
network:
    #How many connections are accepted by the server from a single IP address?
    #A client will require 2 connections simultaneously to join the server, but
    #only 1 to remain connected. (Lobby -> Game transition)
    connection-limit: 20
    #Maximum number of bytes in a session's buffer before overflowing and closing
    #the session
    session-overflow: 8192
    
# Highly recommended you change these / generate your own.
rsa:
    private-key: 0
    private-exponent: 0

server:
    spawn:
        x: 3221
        y: 3220
        z: 0
        
players:
    #Acceptable values are: {SMALL, MEDIUM, LARGE, HUGE}
    view-distance: SMALL